.bn-ph {
  width: 100%;
  padding-top: 25%;
  position: relative;
  background: #f6e9d8;
  height: 0;
  margin-bottom: 15px;
}
.banner-container {
  width: 100%;
}
.banner-inner {
  max-width: 1260px;
  margin: 0 auto;
}
.bn-ph .banner-content {
  margin: auto;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background: #f6e9d8;
  text-align: center;
}
.bn-ph .banner-iframe {
  margin: 0;
  height: 100%!important;
}