// colors
@use "sass:math";

$defaultBG: #FFF1E5;
$defaultColor: #333333;
$placeHolderBG: #E9DECF;
$footerBorderColor: #A7A59B;
$footerIconColor: #505050;
$red: #9E2F50;
$greyFont: #777777;

// width, height and padding
$defaultPadding: 14px;
$buttonEdge: 10px;

// Percentages
$goldenRatio: 168.1%;
$videoRatio: percentage(math.div(9, 16));
$coverImage: 56.25%;

// Font Sizes

// score card display

//headers and footers
$headerHeight: 44px;
$closeButtonHeight: 36px;
$buttonHeight: 28px;
$closeButtonBG: #9d9793;
$logoHeight: 26px;
$headerBG: #333;
$statusBarHeight: 20px;
$navOn: #27757b;